$dark: hsl(0, 0%, 15%);
$dark-d: hsl(0, 0%, 5%);

$gray-l: hsl(0, 0%, 95%);

$highlight: #e17833;
$highlight-d: hsl(24, 74%, 44%);

$padding-t-b: 3rem 0;

$primary: hsl(300, 100%, 95%);
$primary-d: hsl(300, 100%, 90%);
